NEBIUS_API_KEY=
NEBIUS_MODEL=nvidia/nemotron-3-super-120b-a12b
DEMO_ACCESS_TOKEN=
LIVE_RUNS_PER_IP_PER_HOUR=
LIVE_RUNS_PER_DAY=
LIVE_TOKEN_RUNS_PER_DAY=
KV_REST_API_URL=
KV_REST_API_TOKEN=
NEBIUS_EVAL_NO_PAID_ROLLOVER=
NEBIUS_EVAL_PRICE_MODEL=
NEBIUS_EVAL_BUDGET_USD=0.50
NEBIUS_EVAL_FREE_CREDIT_USD=
NEBIUS_EVAL_INPUT_USD_PER_MILLION=
NEBIUS_EVAL_OUTPUT_USD_PER_MILLION=
NEBIUS_EVAL_CONTEXT_TOKENS=
NEBIUS_EVAL_VERIFIED_AT=
